# Give dk user permission to run systemctl start/stop/restart/status dk@*
dk ALL=(root) NOPASSWD: /usr/bin/systemctl start dk@* , /usr/bin/systemctl stop dk@* , /usr/bin/systemctl restart dk@* , /usr/bin/systemctl status dk@*