dk ALL=(root) NOPASSWD: /usr/bin/systemctl start dk@*
dk ALL=(root) NOPASSWD: /usr/bin/systemctl stop dk@*
dk ALL=(root) NOPASSWD: /usr/bin/systemctl restart dk@*
dk ALL=(root) NOPASSWD: /usr/bin/systemctl status dk@*
